body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

a {
    padding: 2rem 3rem;
    text-decoration: none;
    text-transform: uppercase;
    background-color: blueviolet;
    color: white;
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
}

a::before{
    content:"Button";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: red;

    /* centre our content */
    display: flex;
    align-items: center;
    justify-content: center;

    /* let's Provide Rotaion Animation */
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}

a::after {
    content: "Button";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background:green;
       /* centre our content */
       display: flex;
       align-items: center;
       justify-content: center;
   
       /* let's Provide Rotaion Animation */
       transform: rotateX(270deg);
       transform-origin: top;
       transition: all 0.5s;
       transition-delay: 0.25s;
}

a:hover:before, 
a:hover:after {
    transform: rotateX(0);
} 


